* text=auto eol=lf

# CODESYS: бинарные, переводы строк не трогать
*.project          binary
*.projectarchive   binary
*.library          binary
*.compiled-library binary

# картинки и документы
*.png  binary
*.jpg  binary
*.pdf  binary
*.docx binary